/* Quizlet Component CSS */

.Quizlet {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* Content Cotainer CSS */

.topContainer {
    width: auto;
    height: auto;
}

.botContainer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* Card Component CSS */

.Card {
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10%;
    text-align: center;
}

.Card>h1 {
    font-size: 3rem;
}

.Card>img {
    width: 18rem;
    height: 18rem;
}

.Card>h3 {
    font-size: 2rem;
}

/* Button Component CSS */

.Button>button {
    background-color: rgba(207, 194, 194, 0.781);
    width: 11rem;
    height: 5rem;
    font-size: 3rem;
    border-radius: 10%;
    box-shadow: .4rem .3rem .3rem black;
    border: black;
}

.Button>button:hover {
    transition: all 0.3s ease 0s;
    background-color: rgb(117, 113, 113);
    border-radius: 1%;
}